@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #fff;
}

.fx {
  @apply flex items-center justify-center;
}

@font-face {
  font-family: "Suse";
  src: url("../fonts/SUSE/static/SUSE-ExtraBold.ttf");
}

.bg-gradient {
  background: rgb(39, 42, 55);
  background: linear-gradient(
    60deg,
    rgb(39, 42, 55, 0.7) 50%,
    rgba(39, 42, 55, 0.3) 70%,
    rgba(39, 42, 55) 100%
  );
}

/* form inputes "general style" */
.form__inputs {
  @apply bg-gray-400/60 pl-5 pb-4 pt-3 relative pr-16;
}
.form__inputs label span {
  @apply text-lg font-[Suse] text-gray-700/80 mt-2;
}
.form__inputs svg {
  @apply text-blue-600;
}
.form__inputs input,
.form__inputs textarea {
  @apply outline-none border-b border-transparent dark:text-white font-semibold bg-transparent w-full mt-1 block;
}
.form__inputs:hover {
  @apply bg-gray-400/40;
}
.loader {
  width: 22px;
  height: 22px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
